/* custom styles for neighborhood map*/
$water: #19a0d8;
$redorange: #f25829;


* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

body,
html {
    margin-top: 100px;
}

.container {
    header {
        padding: 20px;
        position: fixed;
        background-color: lightgray;
        border-bottom: 1px solid gray;
        top: 0;
        right: 0;
        left: 0;
        z-index: 100; // box-shadow: 10px 10px 3px lightgray;
    }

    h1 {
        color: $water;
        font-size: 1.5em;
    }
}

.search-bar {
    border: 1px solid gray; // margin: 5px auto;
    font-size: 1.2em;
    padding: 20px;
    width: 100%;
    color: lightgray;
}


#list, #map {
    float: left;
    border-radius: 5px;
}

#list {
    width: 30%;
}

#map {
    width: 70%;
}

#list {
    background-color: lightgray;
    height: 500px;
    color: $water;
    border-right: 5px solid white;
    #results {
        padding: 0;
        margin: 0;
    }
    li {
        font-weight: bold;
        padding: 10px;
        border-bottom: 1px solid gray;
        list-style-type: none;
        cursor: pointer;
        &:hover {
            color: black;
        }
    }
}


// Source: https://developers.google.com/maps/documentation/javascript/adding-a-google-map
#map {
    height: 500px;
    background-color: gray;
}